config MTK_BMI160_GYRO
        bool "BMI160 for MediaTek package"
        default y
        help
        It support different gyroscope sensor.
        If this option is set,
	  	it will support
         BMI160 gyroscope.